<mat-form-field class="input-field">
  <mat-label>Search Pokemon</mat-label>
  <input
    autocomplete="false"
    matInput
    #searchPokemonValue
    type="text"
    (keydown.enter)="onEnter(searchPokemonValue.value)"
    [(ngModel)]="value"
  />
  <button
    mat-button
    *ngIf="value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="value = ''"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
