.logo {
  margin: auto;
  display: block;
  animation: bounce 1s 0.5s;
  transform: scale(0.85);
}

@keyframes bounce {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
  60% {
    transform: scale(0.6);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.85);
  }
}

.container {
  max-width: 920px;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

#pokemonResult {
  max-width: 47%;
  width: 100%;
}

#historyTable {
  max-width: 50%;
  width: 100%;
  display: block;
}

#searchBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

@media only screen and (max-width: 768px) {
  #pokemonResult {
    max-width: 100%;
  }

  #historyTable {
    max-width: 100%;
  }
}
