<div class="container">
  <img src="assets/imgs/logo.png" class="logo" />
  <div style="text-align: center; margin-top: 40px;">
    Welcome to PokaDorix! <br />
    This App helps you to find Pokemons and save them to the list. <br />
    You can search for pokemon names here:
    <a href="https://www.pokemon.com/us/pokedex/" target="_blank"
      >Pokemon List</a
    >
  </div>
  <app-pokemon-search-input
    id="searchBox"
    (onSearchEvent)="onSearchInputEnter($event)"
  ></app-pokemon-search-input>
  <div class="wrapper">
    <div id="pokemonResult">
      <app-pokemon-card
        *ngIf="pokemon && !isNotFound"
        [pokemon]="pokemon"
        [isSaved]="isPokemonAlreadySaved"
        (onSaveEvent)="savePokemonToHistory($event)"
      ></app-pokemon-card>
      <app-pokemon-not-found *ngIf="isNotFound"></app-pokemon-not-found>
    </div>
    <app-pokemon-saved-table
      id="historyTable"
      [history]="pokemonHistory"
    ></app-pokemon-saved-table>
  </div>
</div>
