<mat-card class="pokemon-card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="pokemon-header-avatar"
      [ngStyle]="{ 'background-image': 'url(' + pokemon.image + ')' }"
    ></div>
    <mat-card-title>{{ pokemon.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="pokemon.types.length">
      Types:
      <ul>
        <li *ngFor="let type of pokemon.types">
          {{ type }}
        </li>
      </ul>
    </div>
    <div *ngIf="pokemon.abilities.length">
      Abilities:
      <ul>
        <li *ngFor="let ability of pokemon.abilities">
          {{ ability }}
        </li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      (click)="!isSaved && onSaveBtnClicked()"
      [disabled]="isSaved || isSaving"
    >
      {{ isSaved ? "Saved" : "Save" }}
    </button>
  </mat-card-actions>
</mat-card>
